<script type="text/javascript">
    $j(document).ready(function () {
        showSelectedAvatar($j('#bundledAvatar').val());

      $j('#bundledAvatar').change(function () {
            showSelectedAvatar($j(this).val());
        });
    });

    function showSelectedAvatar(avatar) {
        src = window['base_uri'] + "$pluginResourcePath/" + avatar;
        $j('#bundledAvatarImg').attr("src", src)
    }
</script>


<label for="bundledAvatar">Select avatar:</label>
<select id="bundledAvatar" name="bundledAvatar">
  #foreach($avatar in $bundledAvatars.entrySet())
      <option value="$avatar.key" #if($selectedAvatar == $avatar.key)selected #end>
        $avatar.value
      </option>
  #end
</select>

<img id="bundledAvatarImg" src="">
