#supplierTemplate {
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  border: 2px dotted;
  padding: 10px;
}

img.avatar {
  margin-right: 5px;
  height: 14px;
  width: auto;
}

img.big-avatar {
  max-height: 100px;
  max-width: 100px;
  position: absolute;
  display: none;
  z-index: 999;
}

.avatar-success, .avatar-validation {
  border: 1px solid;
  margin: 10px 0;
  padding: 15px 10px 15px 50px;
  background: no-repeat 10px center;
}

.avatar-success {
  color: #4F8A10;
  background-color: #DFF2BF;
}

.avatar-validation {
  color: #D63301;
  background-color: #FFCCBA;
}